<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Cookbook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/recipes"
            routerLinkActive="active"
          >
            Recipes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
          >
            Shopping List
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            appDropdown
            #r="appDropdown"
          >
            Manage
          </a>
          <ul [ngClass]="{'show': r.isOpen}" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Save Data</a></li>
            <li><a class="dropdown-item">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>